<div id="downloads">
  <h3>Download files</h3>
  <p>
    You need to download some files to follow the lessons in this workshop.
  </p>
  <ul>
    <li>
      For the UNIX Shell lesson, you will need to download
      <a href="https://swcarpentry.github.io/shell-novice/data/shell-lesson-data.zip">shell-lesson-data.zip</a>.
    </li>
    <li>
      For the Python lesson, you will need to download
      <a href="https://swcarpentry.github.io/python-novice-gapminder/files/python-novice-gapminder-data.zip">python-novice-gapminder-data.zip</a>.
    </li>
  </ul>
</div>
